<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.xiiivs.dndspellcaster">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SpellList"
            android:label="Lista"></activity>
        <activity
            android:name=".InfoSpell"
            android:label="Informacje"></activity>
        <activity
            android:name=".AddSpell"
            android:label="Dodaj Zaklęcie"></activity>
        <activity
            android:name=".MyPool"
            android:label="Pula"></activity>
        <activity android:name=".AddMoreSpells"></activity>
    </application>

</manifest>